# IDE
.vscode/

## Project

# Project Input
*.yaml
*.json
*.wav
*.mp3
samples/*
!samples/example/
!samples/example/*.wav
config/*
!config/exampleFSM.json
!config/sound_config_example.yaml

# Project Output
output/*

## Python
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Package files
*.egg-info/
