# IDE
.vscode/

## Project

# Project Input
*.yaml
*.json

# Project Output
*.wav

## Python
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Package files
*.egg-info/
